<div id="FAQ" class="container">
    <h1 class="text-center p-2">FAQ’s</h1>
    <div class="row">
        <div class="col-md-6 g-4">
            <div>
                <details>
                    <summary> I don't know where to invest ? </summary><br>
                    <div> Make a list of your investment goals, both long-term and short-term
                        goals. <br> Separate your long-term goals from your short-term goals. <br> Consider bonds, bond
                        funds and dividend paying stocks if you need
                        current income rather than capital appreciation. </div>
                </details>
                <br>
                <details>
                    <summary> Which Mutual Fund should I buy? </summary><br>
                    <div> There is no best time as such for investing in mutual funds.<br> Individuals can make
                        investments in mutual funds as and when they
                        wish. But it is always better to catch the funds at a lower NAV rather than higher price. </div>
                </details>
                <br>
                <details>
                    <summary> What is the right age to invest ? </summary><br>
                    <div> In the first case, you start investing in an equity mutual fund at the
                        age of 25. And for this, every month you would need to save Rs 6,000 till the age of 60. </div>
                </details>
                <br>
            </div>
        </div>
        <div class="col-md-6 g-4">
            <div>
                <details>
                    <summary> Can Non-Indian Residents invest? </summary><br>
                    <div> Only NRIs/ OCIs are allowed to invest in partnership proprietorship
                        concerns in India on non-repatriation basis. </div>
                </details>
                <br>
                <details>
                    <summary> Can I invest directly from my mobile phone ? </summary><br>
                    <div> Mobile-based trading has also made the stock market accessible to
                        investors in small towns.<br> For people who do not have access to a
                        computer, even a basic smartphone provides accessibility to a trading platform. </div>
                </details>
                <br>
                <details>
                    <summary> Can you manage my total wealth ? </summary><br>
                    <div> Net worth is the value of all assets, minus the total of all
                        liabilities.<br> Put another way, net worth is what is owned minus what is
                        owed.<br> This net worth calculator helps determine your net worth. </div>
                </details>
            </div>
        </div>
    </div>
</div>