.summary {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.75rem;
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
    width: 1.75rem;
    height: 1.75rem;
    color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}