<div class="container">
    <h1 class="text-center p-2">About Us</h1>
    <br>
    <div class="row g-4">
        <div class="col-md-3 mx-auto">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front mx-auto"><img src="assets\image\Mutual Funds.jpeg" alt="Mutual Funds"
                            class="img-fluid"></div>
                    <div class="flip-card-back pt-5">
                        <h1>Mutual Funds</h1>
                        <p>Analyze the plan and suggest best fit for you.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mx-auto">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front mx-auto"><img src="assets\image\Share Market.jpeg" alt="Avatar"
                            class="img-fluid"></div>
                    <div class="flip-card-back pt-5">
                        <h1>Share Market</h1>
                        <p>Invest and trade directly in share market.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mx-auto">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front mx-auto"><img src="assets\image\Insurance.jpeg" alt="Avatar"
                            class="img-fluid"></div>
                    <div class="flip-card-back pt-5">
                        <h1>Insurance</h1>
                        <p>Reduce the risk by obtaining the most suitable insurance plan</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mx-auto">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front mx-auto"><img src="assets\image\Wealth Management.jpeg" alt="Avatar"
                            class="img-fluid"></div>
                    <div class="flip-card-back pt-5">
                        <h1>Wealth Management</h1>
                        <p>Your wealth safe and sound here , you gain as assured return.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="p-2 text-center">
        <h2>We can help you earn money even in your sleep.</h2>
        <p>We have over 10 years of professional experience in the field of Wealth Management. We
            constantly strive to give our clients valuable advice and formulate investment plans that cater to their
            needs
            by identifying their requirements, aspirations and expense basis.</p>
    </div>
    <br>
    <div class="p-2 text-lg-start">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>Our Purpose and Values</h1>
                <h5>Our purpose defines our reason for existence. Our values define who we are.
                </h5>
                <p>At SilverLine, our purpose is working towards establishing a financially stable
                    world. Our wide range of services are aimed at catering to our clients’ investment and insurance
                    requirements thereby eliminating financial stress. </p>
                <p>Our team of adept financial advisors take into consideration your investment
                    goals,
                    future requirements and determine your propensity for risk. We further take into account your
                    disposable
                    income to draw up a personalised and practical financial plan, thereby allocating products based on
                    your
                    needs and expectations.</p>
                <p> In this rapidly changing financial world, we work with Corporates, High
                    net-worth
                    individuals (HNIs), Business Owners and Families to solve their most pressing financial concerns.
                    Through our two factions of financial services — Insurance and Mutual Funds — led by industry
                    experts,
                    our diverse team of high-performing employees strive to deliver tangible results. </p>
            </div>
            <div class="col-md-6 col-sm-12"><img src="assets\image\Our Purpose.jpeg" alt="Our Purpose"
                    class="img-fluid"></div>
            <div class="col-md-6 col-sm-12"><img src="assets\image\Our Values.jpg" alt="Our Values"
                    class="img-fluid"><br><br></div>
            <div class="col-md-6 col-sm-12">
                <p> Our success is measured by the success of our clients. Silverline Wealth
                    currently
                    manages 2700+ portfolios with more than ₹11 billion worth Assets Under Management (AUM) in Mutual
                    Funds
                    and close to ₹160 billion worth of sum-at-risk in Term Plan. We aspire to use our expertise and
                    experience to accomplish our purpose and initiate positive changes in the society. </p>
                <p>Our Values lay the foundation for all our actions and guide the decisions we
                    make.
                    They inform how we interact with our clients as well as other members of our team.</p>
            </div><br><br>
            <h1>Our Core Values : </h1>
            <p>Candour and Transparency: We establish transparent relationships based on trust and
                integrity with all our clients and ensure that our clients’ financial security is our topmost priority.
            </p>
            <p>Passionate Dedication and Professionalism: Our team operates on the guiding
                principle
                that clients should get their desired results and we formulate customised strategies to achieve the
                same. We
                are dedicated to helping you achieve your aspirations while adhering to stringent quality standards and
                professional ethics. </p>
            <p>Practical Solutions: Our team of experts combine their innovative thinking with a
                practical solution and efficient execution to turn your financial goals into achieved results. </p>
            <p>One Goal, One Team: We believe in the saying “Teamwork makes the dream work”. We
                function as one unit alongside our clients and focus on dedicating all our energy towards reaching
                greater
                heights. We strongly believe that our success lies in the success of our clients and thus we grow only
                by
                helping our clients achieve financial growth and stability. </p>
        </div><br><br>
        <div class="row">
            <div class="col-md-6 col-sm-12"><img src="assets\image\our_team-1-780x470.png" alt="Our Team"
                    class="img-fluid"><br>
            </div>
            <div class="col-md-6 col-sm-12">
                <h1>Our Team</h1>
                <p>At Silverline, our people are committed to delivering tangible results thus
                    inspiring confidence in our clients. We empower our people with the right skills and knowledge to
                    further develop their expertise. </p>
                <p>Our team’s ability to leverage and learn from a diverse range of different
                    perspectives enables us to go the extra mile in delivering our absolute best to clients. Our passion
                    and
                    perseverance coupled with our expertise and imagination helps us deliver integrated solutions to
                    achieve
                    better and faster results for clients thus helping us gain a competitive edge in the industry. </p>
                <p> Our actions are governed by our core values and beliefs. They lay the
                    foundation
                    for our work culture that brings out the best in our people by promoting diversity and inclusivity
                    to
                    ensure our employees can flourish both personally and professionally. These company values further
                    guide
                    us in our collaborations across different teams and networks, enabling us to leverage all the
                    insights
                    and knowledge our network has to offer. </p>
                <p>This is what Silverline has to offer: A culturally diverse team that draws
                    strength
                    from our differences and helps you bridge the gap between what is and what can be.</p>
            </div>
        </div>
    </div>
</div>