@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCBc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBxc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCxc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}



.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}


@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px
}

html,
body {
    height: 100%
}

body {
    margin: 0;
    font-family: Roboto, Helvetica Neue, sans-serif
}


li {
    padding: 16px
}

.navbar-brand img {
    width: 30%;
    height: 20%;
    object-fit: fill
}

.nav-link {
    font-size: 16px
}

 .navbar-nav .nav-item:after {
    content: "";
    position: absolute;
    z-index: 1;
    font-size: 1em;
    width: 5px !important;
    height: 5px !important;
    border-radius: 50% !important;
    display: block;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0
}

.nav-item {
    position: relative;
    margin: 0 10px;
    transition: all .2s linear
}

.nav-link {
    position: relative;
    padding: 5px 10px
}

.nav-link.active {
    content: "";
    position: absolute;
    z-index: 1;
    font-size: 1em;
    width: 5px !important;
    height: 5px !important;
    border-radius: 50% !important;
    display: block;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0
}

.btn-outline-info {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 28px;
    border: none;
    border-radius: 10px;
    color: #6855e0;
    background-color: #fff;
    border: 1px solid rgba(104, 85, 224, 1)
}

.btn-outline-info:hover {
    color: #6855e0;
    background-color: #fff;
    border: 1px solid rgba(104, 85, 224, 1)
}

.btn-info {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff !important;
    border: none;
    border-radius: 10px
}

.btn-black,
.btn-black:hover {
    background-color: #000;
    color: #fff
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: auto !important
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform .6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px #0003
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg)
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 300px;
    height: 300px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: auto !important
}

.flip-card-front {
    background-color: #bbb;
    color: #000
}

.flip-card-back {
    background-color: #11679a;
    color: #fff;
    padding: 40px 30px;
    transform: rotateY(180deg)
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.counter span {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    color: #0d2c13;
    display: inline-block;
    margin: 0 0 10px
}

.counter h6 {
    display: block;
    color: #7a7a7a;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin: 0
}

.nav-item {
    color: #828282
}

.app-btn {
    display: inline-block;
    padding: 15px 35px;
    box-shadow: 0 9px 30px #6a4bc466;
    color: #fff;
    background-image: radial-gradient(circle farthest-corner at 100% 150%, #d75dbc 10%, #0a3ca3 50%);
    border-radius: 35px;
    border: 1px solid transparent;
    margin-right: 20px;
    cursor: pointer;
    transition: all ease-in-out .3s
}

.service_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 15px 38px #0000001a;
    background: #fff;
    padding: 25px 34px;
    border-radius: 30px;
    transition: all ease .5s;
    margin-bottom: 30px
}

.service_box .icon {
    background: radial-gradient(circle farthest-corner at 100% 150%, #11679A 0%, #fff 50%);
    padding: 10px;
    border: 1px solid #828282;
    border-radius: 50%;
    margin-right: 15px
}

.service_box .icon img {
    max-width: 35px
}

img {
    width: 100%
}

.pointer {
    cursor: pointer
}

.heights {
    padding: 50px
}

.number_class {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #11679a
}

.whychoseus {
    vertical-align: middle;
    margin: auto auto 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    padding: 25px 34px;
    border-radius: 30px;
    transition: all ease .5s
}

.whychoseus .icon-round {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    padding: 5px;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #11679a;
    margin: auto auto 30px
}

.fa {
    color: #fff;
    font-size: 40px
}

img {
    width: 10%;
    border-radius: 50%;
    object-fit: cover
}

.container .image {
    text-align: center;
    padding: 10px
}

details div {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 12px;
    padding: 1.5em
}

details div>*+* {
    margin-top: 1.5em
}

details+details {
    margin-top: .5rem
}

summary {
    list-style: none
}

summary::-webkit-details-marker {
    display: none
}

summary {
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    padding: .75em 1em;
    cursor: pointer;
    position: relative;
    padding-left: 3.25rem
}

summary {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .75rem;
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
    width: 1.75rem;
    height: 1.75rem;
    color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0
}

details {
    content: "\f106"
}

a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 1px
}

a:hover {
    box-shadow: 0 3px
}

code {
    font-family: monospace;
    font-weight: 600
}

a[_ngcontent-hro-c5] {
    color: #fff !important
}

@import"https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";

.particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1d243d;
    font-family: Source Sans Pro, sans-serif;
    padding: 0;
    margin: 0
}

.container {
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 100%;
    height: 500px
}

.Box_class {
    align-items: center;
    justify-content: center;
    width: 40%;
    border-radius: 15px
}

.box h1 {
    font-family: Source Sans Pro, sans-serif
}

.box h1 span {
    color: #dfdeee;
    font-weight: lighter
}

.box h5 {
    font-family: Source Sans Pro, sans-serif;
    font-size: 13px;
    color: #a1a4ad;
    letter-spacing: 1.5px;
    margin-top: -15px;
    margin-bottom: 70px
}

::-webkit-input-placeholder {
    color: #565f79
}

.box input[type=text]:focus,
.box input[type=password]:focus {
    border: 1px solid #79A6FE
}

.btn1 {
    border: 0;
    background: #00FFFF !important;
    color: #000;
    font-weight: bolder;
    border-radius: 100px;
    width: 340px;
    height: 50px;
    font-size: 16px;
    position: absolute;
    top: 80%;
    left: 8%;
    transition: .3s;
    cursor: pointer
}

.forgetpass {
    position: relative;
    right: 28px;
    top: 50px;
    text-align: center !important
}

.error {
    background: #ff3333;
    text-align: center;
    width: 337px;
    height: 30px;
    padding: 2px;
    border: 0;
    border-radius: 5px;
    margin: 10px auto;
    position: absolute;
    top: 10%;
    left: 7.2%;
    color: #fff;
    display: none
}

.login_btn {
    background: #11679A;
    box-shadow: 0 8px 10px #0000000d;
    border-radius: 12px;
    color: #fff;
    padding: 16px 24px;
    width: 100%
}

.input-boxes {
    background-color: #fff !important;
    border: 1px solid #eeeeee !important;
    color: #1d243d;
    height: 49px;
    box-shadow: none
}

input {
    color: #1d243d !important
}

.login-main-text {
    color: #1d243d !important;
    font-size: 34px !important;
    font-weight: 600 !important;
    font-style: normal !important;
    line-height: 40px !important
}

@media (max-width:991px) {
    .Box_class {
        width: 50%
    }
}

@media (max-width:767px) {
    .Box_class {
        width: 100%
    }
}
/* 
.back-image-box {
    width: 100%;
    height: 100vh;
    background-image: url(vecteezy_abstract-blue-and-gray-wave-background_.bde008ea1ce3c253.jpg);
    background-repeat: no-repeat;
    background-size: cover
} */