<h1 class="text-center p-2">Why Choose Us</h1>
<div class="row g-3">
    <div class="col-md-4 col-sm-12">
        <div class="whychoseus">
            <div class="icon-round"><i aria-hidden="true" class="fa fa-key"></i></div>
            <h3 _ngcontent-gip-c3="">Totally Secure &amp; confident</h3>
            <p _ngcontent-gip-c3="">We ensure total confidentiality and security when it comes to your documents.</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="whychoseus">
            <div class="icon-round"><i aria-hidden="true" class="fa fa-diamond"></i></div>
            <h3 _ngcontent-gip-c3="">Premium Support</h3>
            <p _ngcontent-gip-c3="">We offer 24/7 support to all our clients to ensure all their investment dreams are
                fulfilled.</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="whychoseus">
            <div class="icon-round"><i aria-hidden="true" class="fa fa-file-text-o"></i></div>
            <h3 _ngcontent-gip-c3="">True Advice</h3>
            <p _ngcontent-gip-c3="">We aim to provide honest and reliable advice that helps educate you about all the
                pros, cons and risks involved.</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="whychoseus">
            <div class="icon-round"><i aria-hidden="true" class="fa fa-bolt"></i></div>
            <h3 _ngcontent-gip-c3="">Value for Money</h3>
            <p _ngcontent-gip-c3="">We understand the importance of your hard earned money and ensure no misguided
                investment decisions are made.</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="whychoseus">
            <div class="icon-round"><i aria-hidden="true" class="fa fa-sliders"></i></div>
            <h3 _ngcontent-gip-c3="">Digitalized</h3>
            <p _ngcontent-gip-c3="">Take complete control of your investments using a powerful yet easy to use system.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="whychoseus">
            <div class="icon-round"><i aria-hidden="true" class="fa fa-trophy"></i></div>
            <h3 _ngcontent-gip-c3="">Trustworthy</h3>
            <p _ngcontent-gip-c3="">Our industry experts have proven to be extremely trustworthy thus garnering our
                reputation as the industry leaders.</p>
        </div>
    </div>
</div>