<div class="container">
    <h1 class="text-center p-2">Our Services</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-5">
                <div class="col-lg-4 wow animated fadeInUp animated"
                    style="visibility: visible; animation-name: fadeInUp;">
                    <div class="service_box">
                        <div class="icon"><img src="assets\image\life-insurance.png" alt="General Insurance"></div>
                        <div class="text">
                            <p>General Insurance</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow animated fadeInUp animated"
                    style="visibility: visible; animation-name: fadeInUp;">
                    <div class="service_box">
                        <div class="icon"><img src="assets\image\health-insurance.png" alt="Life Insurance"></div>
                        <div class="text">
                            <p>Life Insurance</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow animated fadeInUp animated"
                    style="visibility: visible; animation-name: fadeInUp;">
                    <div class="service_box">
                        <div class="icon"><img src="assets\image\money.png" alt="Mutual Fund"></div>
                        <div class="text">
                            <p>Mutual Fund</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow animated fadeInUp animated"
                    style="visibility: visible; animation-name: fadeInUp;">
                    <div class="service_box">
                        <div class="icon"><img src="assets\image\stock-market.png" alt="Share Market"></div>
                        <div class="text">
                            <p>Share Market</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow animated fadeInUp animated"
                    style="visibility: visible; animation-name: fadeInUp;">
                    <div class="service_box">
                        <div class="icon"><img src="assets\image\agreement.png" alt="Bonds"></div>
                        <div class="text">
                            <p>Bonds</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow animated fadeInUp animated"
                    style="visibility: visible; animation-name: fadeInUp;">
                    <div class="service_box">
                        <div class="icon"><img src="assets\image\assets.png" alt="Asset Management"></div>
                        <div class="text">
                            <p>Asset Management</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section style="background-color: rgba(215,224,222,1);">
    <div class="container height">
        <div class="row text-start">
            <div class="col-md-3 col-sm-12">
                <div class="text-start">
                    <h3>Our Recognition</h3>
                    <p>Our work tells our story. Our dedication towards clients and knowledge about
                        the industry reflects in our success stories.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="py-3">
                    <div>
                        <div class="animated-number"><span class="animated-number_number_nr number_class"> 2009</span>
                        </div>
                    </div>
                    <h6><span>Established In</span></h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="py-3">
                    <div>
                        <div class="animated-number"><span class="animated-number_number_nr number_class"> ₹900
                                crore+</span></div>
                    </div>
                    <h6><span>AUM</span></h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="py-3">
                    <div>
                        <div class="animated-number"><span class="animated-number_number_nr number_class"> 2700+</span>
                        </div>
                    </div>
                    <h6><span>Clients</span></h6>
                </div>
            </div>
        </div>
    </div>
</section>