<div style="background-color: black; height: 80%; color: white;">
    <div class="container">
        <div class="center">
            <div>
                <h1>The Future Of Wealth Management is Here</h1>
                <h4 style="color: white;"> We assist you to gain unrealized wealth &amp;
                    prosperity, while advising you on how to preserve &amp; protect your wealth. </h4>
            </div>
        </div>
    </div>
</div>
<br>
<app-about></app-about>
<hr>
<app-services></app-services>
<br>
<app-choose></app-choose>
<br>
<app-faq></app-faq>
<br>
<app-contact></app-contact>
<hr>
<app-links></app-links>
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.108);"> Copyright © 2023 <a
        href="https://abinfo.tech/#/" target="_blank" class="text-reset fw-bold">ABinfo.tech</a>.
    All Rights Reserved | Privacy policy | Terms &amp; Conditions </div>